@import "fonts.css";

/* Variables */
:root {
  /* Colors */
  --text-title: #1a1a1a;
  --text-main: #333333;
  --text-light: #6f6f6f;
  --text-placeholder: #d8d8d8;
  --accent-1: #0001fa;
  --accent-2: #005001;
  --accent-4: #cbc000;
  --gradient-green: #00b602;
  --gradient-yellow: #656000;
  --gradient-blue: #000194;
  --button-text-light: #eeeeee;
  --button-text-dark: #333333;
  --button-disabled: #dbdbdb;
  --border-valid: #68f468;
  --border-invalid: #e0d966;

  /* Fonts */
  --ff-main: "Roboto Flex", Arial, sans-serif;

  /* Paddings */
  --p-xs: 0.5rem; /* 8px */
  --p-s: 0.75rem; /* 12px */
  --p-m: 1rem; /* 16px */
  --p-l: 2rem; /* 32px */
  --p-xl: 4rem; /* 64px */

  /* Margins */
  --m-xs: 0.5rem; /* 8px */
  --m-s: 0.625rem; /* 10px */
  --m-m: 1rem; /* 16px */
  --m-l: 2rem; /* 32px */
}

/* Debug */
*,
*::before,
*::after {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

/* General */
.page__body {
  padding: 0;
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Added for better compatibility */
}

.section {
  position: relative;
  padding-top: var(--p-xl);
  padding-bottom: var(--p-xl);
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: var(--p-m);
}

.section__title {
  margin: 0;
  margin-bottom: var(--m-m);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section__link {
  margin: 0;
  padding: 0;
  color: var(--accent-1);
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* display: inline-block; */
  margin-top: var(--m-l);
  padding: var(--p-m) var(--p-l);
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
